<%#= juggernaut(:client_id => current_user.id, :debug => false) %>
<div id="chatwindow">
  <div class="chat">
    <table id="chat">
      <tr class="">
        <td colspan="3">
          <%= image_tag 'spinner.gif', :class => 'glyph' %> <strong>Logging in to chat...</strong>
        </td>  
      </tr>  
      <% recent_messages %>
    </table>
  </div>  
  <div class="bottom"></div>
</div>

<div id="chatbox" style="display: xnone">
  <%= form_remote_tag(
        :url => { :action => :new },
        :complete => "$('message').value = ''", :id => 'chatbox-f' ) %>
    <%= hidden_field_tag 'previous_speaker' %>
    <%= text_area_tag( 'message', '', { :rows => 4, :cols => 60, :id => 'message'} ) %>
    <%= submit_tag "Add", :style => 'display: none' %>
  </form>
</div>  

<% content_for :sidebar do %>
  <div class="panel">
    <h2>Gabbers</h2>
    <p class="wip">
      This feature is still a work-in-progress.
    </p>
    <ul id="gabbers">
      <%= render :partial => 'gabber/gabber', :collection => Gabber.gabbers %>
    </ul>
  </div>
  
  <div class="panel">
    <h2>Debug</h2>
    <%= link_to_remote 'Set to idle', :url => '/gabber/idle' %><br />
    <%= link_to_remote 'Set to online', :url => '/gabber/online' %><br />
    <%= link_to_remote 'Set to offline', :url => '/gabber/offline' %><br />
  </div>
  
  <div class="panel">
    <h2>Upload file</h2>
    <% form_for(:asset, :url => { :controller => 'assets', :action => "create" }, :html => { :multipart => true, :target => 'upload_frame' }) do |form| %>        
      <%= form.file_field :uploaded_data, :size => 17, :id => 'file' %>
      <div style="padding-top: 5px">
        <%= submit_tag 'Upload' %>
      </div>
    <% end %>
    <iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px;" src="about:blank"></iframe>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  Gabber.names = <%= Gabber.gabbers.map(&:nickname).to_json %>;
  
  Event.observe($('message'), 'keypress', function(e) {
    m = $('message');
    if (e.keyCode == Event.KEY_RETURN && e.shiftKey == false) {
      if (m.value == null || m.value == '' || m.value == "\n") {
        Event.stop(e);
        return false;
      }
      window.juggernaut.timer.resetIdleStatus();
      $('message').form.onsubmit();
      Event.stop(e);
      return false;
    } else if (e.keyCode == Event.KEY_TAB) {
      GabberTabCompletion.complete(e, m);
    } else {
      // console.log(e);
    }
  });
</script>