<%= juggernaut(:client_id => current_user.id, :debug => false) %>
<div id="chatwindow">
  <table id="chat">
    <tr class="">
      <td colspan="3">
        <%#= image_tag 'spinner.gif', :class => 'glyph' %> <strong>Logging in to chat...</strong>
      </td>  
    </tr>  
    <%= recent_messages %>
  </table>
</div>

<div id="chatbox" style="xdisplay: none">
  <%= form_remote_tag(
        :url => { :action => :new },
        :complete => "$('message').value = ''", :id => 'chatbox-f' ) %>
    <%= hidden_field_tag 'previous_speaker' %>
    <%= text_area_tag( 'message', '', { :rows => 4, :cols => 60, :id => 'message'} ) %>
    <%= submit_tag "Add", :style => 'display: none' %>
  </form>
</div>  

<script type="text/javascript" charset="utf-8">
  Event.observe($('message'), 'keydown', function(e) {
    if (e.keyCode == 13 && e.shiftKey == false) {
      $('message').form.onsubmit();
      return false;
    }  
  });
</script>