<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>gabby</title>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag :juggernaut %>
  <%= stylesheet_link_tag 'base' %>
  <%= stylesheet_link_tag 'session' unless logged_in? %>
</head>
<body>
<% if logged_in? %>
  <table id="main" style="width: 100%;">
    <tr>
      <td colspan="2">
        <%= render :partial => 'layouts/header' %>
      </td>
    </tr>
    <tr>
      <td id="body">
        <%= yield %>
        <script type="text/javascript" charset="utf-8">
          // $$('tr.u-1').each(function(m) {
          //   m.addClassName('me');
          // });
        </script>
      </td>
      <td id="sidebar">
        <%= yield :sidebar %>
      </td>
    </tr>
  </table>
<% else %>  
  <%= yield %>
<% end %>  
</body>
</html>